img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

body {
    font-family: 'Comfortaa';
    font-size: 17px;
}
.mb-3{
  gap: 10px;
  margin-left: 20%;
  margin-right: 20%;
  max-width: 400px;
}
.container{
  max-width: 800px;
}
#logInContainer{
  padding: 5%;
}

@media (max-width: 650px) {
  .mb-3{
    gap: 10px;
    margin-left: 5%;
    margin-right: 5%;

  }
  .container{
    margin: 0;
    padding: 0;

  }
}

/* ******************* */

/* Style all input fields */
input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #f1bc0c;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}
